.setting {
  display: flex;
  align-items: center;

  & img {
    cursor: pointer;
    transition: all 0.3s linear;

    &:hover {
      transform: rotate(90deg) scale(1.1);
    }
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}